button {
    background-color: #a4b7cc;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: #617188;

}

h2 {
    font-size: 24px;
    color: rgb(10, 13, 71);
    align-items: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

