button {
    background-color: #a4b7cc;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: #617188;

}

h2 {
    font-size: 24px;
    color: rgb(10, 13, 71);
    align-items: center;
    margin-bottom: 0%;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.6%;
}

h4 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 5%;
}

h4,h2 {
    margin: 0%;
}

.contenedorbotones {
    flex-direction: row;
    gap: 10px;
    display: flex;
    justify-content: center;  /* centra horizontalmente */
    align-items: center;
}

.card {
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px; /* Esquinas redondeadas */
  overflow: hidden;    /* Asegura que la imagen respete las esquinas */
  font-family: Arial, sans-serif;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 15px;
  text-align: left;
}